* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    background-color: rgb(2, 2, 44);
    font-family: "Big Shoulders", sans-serif;
}

.main_container_1 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 48);
    display: flex;
    align-items: center;
    justify-content: center;

}

.login_main_container {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    color: rgb(255, 255, 255);
}

.login_heading {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 250%;
}

.user_name_heading {
    width: 100%;
    height: auto;
    font-size: 80%;
}

.password_input {
    width: 200px;
    height: 25px;
    font-weight: bolder;
}

.login_user_name_heading {
    text-align: center;
}

.login_user_name {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.submit_btn {
    font-weight: bold;
    margin-top: 5px;
}

.pass_state {
    width: auto;
    height: auto;
    font-size: 40%;
    color: red;
}


/* nav bar style */

